<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container text-center'>
            <h1 class='header'>Welcome to <%= title %> </h1>
            <h3>Features:</h3>
            <ol>
                <li>You can pass a string as a parameter and it will be validated as either a unix timestamp or a natural language date (example: June 26, 2016</li>
                <li>Once validated, it will return  both the unix timestamp and the natural language form of that date in a JSON object.</li>
                <li>It will return null for both if not date is not valid</li>
            </ol>
            <h3>Example usage:</h3>
            <code>https://timestampMicroSvc.herokuapp.com/June 26, 2016</code><br>
            <code>https://ttimestampMicroSvc.herokuapp.com/1466917200</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1466917200,
                  "natural": "June 26, 2016"
                }
            </code>
            <footer>
            	<p>&copy; 2016 Ken Dulin - FreeCodeCamp Back-end API project</p>
            </footer>
        </div> 
    </body>
</html>